
@{
    ViewBag.Title = "Biens à échanger";
}

<!-- banner -->
<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="~/Home/Index">Home</a> /Echanges </span>
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<!-- banner -->

<h2>Page en construction</h2>