
@{
    ViewBag.Title = "Zone Membre";
}

    <!-- banner -->
    <div class="inside-banner">
        <div class="container">
            <span class="pull-right"><a href="~/Home/Index">Home</a> / Zone Membre </span>
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div>
        <p> Ici votre tableau de bord avec toutes les fonctionnalité auxquelles vous avez accès</p>
    </div>
            <!-- banner -->
